@model IEnumerable<InsurancePortal.Models.PolicyCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Services</h1>


<div class="card-columns mt-3">

    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@item.CategoryImageURL" alt="Card image cap" style="height:250px">
            <div class="card-body">
                <h4 class="card-title"> @item.CategoryName </h4>
            </div>    
        </div>
    }

</div>

<a class="btn btn-primary col-12" style="color:white" asp-area= "show" asp-controller="home">Explore the Services</a>
