@using InsurancePortal.Areas.Show.ViewModels;
@using InsurancePortal.Models;
@model ShowPolicyViewModels;

@{
}



<h1>Explore our Services!!</h1>



<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>

            <button type="submit" class="btn btn-primary">Get items</button>
        </form>
    </div>
</div>




@if (Model != null && Model.Policies != null)
{
    <form method="post">
        <input type="hidden" asp-for="CategoryId" />

        <div class="card-columns mt-3">
            @foreach (var item in Model.Policies)
            {
                <div class="card">
                    <img class="card-img-top" src="@item.PolicyImageURL" alt="Card image cap" style="max-height:300px">
                    <div class="card-body">
                        <h4 class="card-title"> @item.PolicyName </h4>

                    </div>
                    <div class="card-footer">

                        <button class="btn btn-sm btn-primary"
                        type="button" onclick="fAddToCart(@item.PolicyId)">Apply For It</button>

                    </div>
                </div>
            }
        </div>
    </form>
}


@section Scripts {
    <script>
        function fAddToCart(productId) {
            //---- for DEBUGGING purposes
            // let ddlQuantity = 'QuantityFor' + productId;
            // alert('add to cart clicked for id = ' + productId);
            // alert('ddl Name = ' + ddlQuantity);
            // alert( 'ddl Value = ' + $('#' + ddlQuantity).val() );
            let data = {
                "productId": productId,
                
            };
            console.log(data);                                  // for DEBUGGING purposes
            const http = new XMLHttpRequest();
            const url = '/api/AddToOrder';
            try {
                http.open('POST', url);
                http.setRequestHeader('content-type', 'application/json');
                http.send(JSON.stringify(data));
                http.onload = function () {
                    console.log(http.responseText);             // for DEBUGGING purposes
                    let responseObject = JSON.parse(http.responseText);
                    alert(responseObject.status);           // from the JSON serialization object received in the response.
                };
            }
            catch (error) {
                alert(error.message);
            }
        }
    </script>
}




