@{
}

<h1 style="margin-bottom:50px">Welcome to the Admin Page</h1>

<div class="card-columns mt-3">
    <div class="card">
        <div class="card-top">
            <img class="card-img-top" style="height:300px" src="https://www.pngkey.com/png/full/37-370414_join-home-people-icon.png">
        </div>
        <div class="card-body">
            
        </div>
        <div class="card-footer">
            <a asp-area="Admin" asp-controller="Customers" class="btn btn-primary col-12" style="color:white">View Registered Users</a>
        </div>
    </div>

    <div class="card">
        <div class="card-top">
            <img class="card-img-top" style="height:300px" src="https://previews.123rf.com/images/blankstock/blankstock1605/blankstock160501053/56152842-text-file-sign-icon-check-file-document-symbol-orange-circle-button-with-icon-vector.jpg">
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer">
            <a asp-area="Admin" asp-controller="Policies" class="btn btn-primary col-12" style="color:white">View Listed Policies</a>
        </div>
    </div>

    <div class="card">
        <div class="card-top">
            <img class="card-img-top" style="height:300px" src="https://thumbs.dreamstime.com/b/document-file-copy-paste-icon-orange-color-vector-simple-illustration-graphic-web-design-commercial-purposes-208541595.jpg">
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer">
            <a asp-area="Admin" asp-controller="PolicyCategories" class="btn btn-primary col-12" style="color:white">View Services</a>
        </div>
    </div>

    <div class="card">
        <div class="card-top">
            <img class="card-img-top" style="height:300px" src="https://media.istockphoto.com/vectors/phone-icon-vector-contact-support-service-sign-isolated-on-round-vector-id847248798?k=20&m=847248798&s=170667a&w=0&h=sZ-juO0MKz65ZgWkP90vu2T9nADdIEqmVD5mmGRgLaQ=">
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer">
            <a asp-area="Admin" asp-controller="Contacts" class="btn btn-primary col-12" style="color:white">View Queries</a>
        </div>
    </div>
    <div class="card">
        <div class="card-top">
            <img class="card-img-top" style="height:300px" src="https://thumbs.dreamstime.com/b/hand-approval-icon-vector-orange-simple-illustration-any-design-119339508.jpg">
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer">
            <a asp-area="Admin" asp-controller="Orders" class="btn btn-primary col-12" style="color:white">View Policy Approvals</a>
        </div>
    </div>
    
    
</div>