@model IEnumerable<InsurancePortal.Models.Policy>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Products</h1>



<div class="card-columns mt-3">

    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@item.PolicyImageURL" alt="Card image cap" style="height:250px">
            <div class="card-body">
                <h4 class="card-title"> @item.PolicyName </h4>

            </div>
            <div class="card-footer">

                <a class="btn btn-primary" asp-action="Create" asp-area="Manage" asp-controller="Orders" style="color:white"> Go and Apply</a>
                <a class="btn btn-primary" style="color:white" asp-action="Details" asp-route-id="@item.PolicyId">Details</a>
            </div>
        </div>
    }

</div>
