@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="slide-one-item home-slider owl-carousel">

    <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6" data-aos="fade">
                    <h1 class="font-secondary font-weight-bold text-uppercase">Small Business Insurance Agency</h1>
                    <span class="caption d-block text-white">An Insurance Company</span>
                </div>
            </div>
        </div>
    </div>

    <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1 class="font-secondary font-weight-bold text-uppercase">Insurance Coverage To Meet Your Needs</h1>
                    <span class="caption d-block text-white">You Will Love Our Services</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Products &amp; Services</span>
                <h2 class="site-section-heading text-uppercase text-center font-secondary">Insurance Coverage</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-13 nav-direction-white">
                <div class="nonloop-block-13 owl-carousel">
                    <div class="media-image">
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                        <div class="media-image-body">
                            <h2 class="font-secondary text-uppercase">Home Insurance</h2>
                            <p>Home insurance is also called homeowner's insurance. It safeguards your bungalow apartment/rented flat/owned house/built home
                                against risks.</p>
                            <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                        </div>
                    </div>
                    <div class="media-image">
                        <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                        <div class="media-image-body">
                            <h2 class="font-secondary text-uppercase">Auto Insurance</h2>
                            <p>This insurance provides cover for loss or damage to any vehicle like car, two-wheeler or commercial vehicle, etc.
                                This insurance helps mitigate monetary harms.</p>
                            <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                        </div>
                    </div>
                    <div class="media-image">
                        <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                        <div class="media-image-body">
                            <h2 class="font-secondary text-uppercase">Travel Insurance</h2>
                            <p>Travel Insurance is a type of insurance that covers different risks while travelling. It covers medical expenses, lost luggage,
                                flight cancellations.</p>
                            <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                        </div>
                    </div>
                    <div class="media-image">
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                        <div class="media-image-body">
                            <h2 class="font-secondary text-uppercase">Group Health Insurance</h2>
                            <p>Coverage against emergency medical expenses, including for the treatment of an epidemic or pandemic disease such as COVID-19. 
                                Coverage .</p>
                            <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                        </div>
                    </div>
                    <div class="media-image">
                        <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                        <div class="media-image-body">
                            <h2 class="font-secondary text-uppercase">Auto Insurance</h2>
                            <p>
                                This insurance provides cover for loss or damage to any vehicle like car, two-wheeler or commercial vehicle, etc.
                                This insurance helps mitigate monetary harms.
                            </p>
                            <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                        </div>
                    </div>
                    <div class="media-image">
                        <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                        <div class="media-image-body">
                            <h2 class="font-secondary text-uppercase">Travel Insurance</h2>
                            <p>
                                Travel Insurance is a type of insurance that covers different risks while travelling. It covers medical expenses, lost luggage,
                                flight cancellations.
                            </p>
                            <p><a href="#" class="btn btn-primary text-white px-4"><span class="caption">Learn More</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12"><h2 class="text-uppercase">We Are Trusted Agency Company</h2></div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <img src="images/about_1.jpg" alt="image" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto">
                <p>We are a trusted agency company. We have all  our agents verified to ensure fraudless tranactions. The best policies 
                    available wide a wide variety of products and investment schemes. 
                </p>
            </div>
            <div class="col-md-4">
                <p>To get your best policies you are at a great place. The products with us helps live your life peaceful without any tensions and just chlling.</p>
            </div>
        </div>
    </div>
</div>



<div class="site-half">
    <div class="img-bg-1" style="background-image: url('images/hero_bg_2.jpg');"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-md-5 ml-md-auto py-5">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Outstanding Services</span>
                <h2 class="site-section-heading text-uppercase font-secondary mb-5">Why Choose Us</h2>
                <p>The quality of our service is based on our well-trained, professional staff and our serious, conscientious 
                    attitude with clients. Each of our customer service representatives is a licensed insurance agent and we 
                    continue our education to endeavor to stay aware of the latest trends, coverages, and techniques. </p>

                <p>
                    We're involved
                    in our communities and we deliberately organized ourselves
                    to provide the most freedom to our clients.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="site-half">
    <div class="img-bg-1 right" style="background-image: url('images/hero_bg_1.jpg');"></div>
    <div class="container">
        <div class="row no-gutters align-items-stretch">
            <div class="col-md-5 mr-md-auto py-5">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Outstanding Services</span>
                <h2 class="site-section-heading text-uppercase font-secondary mb-5">Why Choose Us</h2>
                <p>
                    We're involved
                    in our communities and we deliberately organized ourselves
                    to provide the most freedom to our clients.
                </p>

                <p>
                    The quality of our service is based on our well-trained, professional staff and our serious, conscientious
                    attitude with clients. Each of our customer service representatives is a licensed insurance agent and we
                    continue our education to endeavor to stay aware of the latest trends, coverages, and techniques.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <span class="caption d-block mb-2 font-secondary font-weight-bold">Outstanding Services</span>
                <h2 class="site-section-heading text-uppercase text-center font-secondary">Why Choose Us</h2>
            </div>
        </div>
        <div class="row border-responsive">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right">
                <div class="text-center">
                    <span class="flaticon-customer-service display-4 d-block mb-3 text-primary"></span>
                    <h3 class="text-uppercase h4 mb-3">24/7 Support</h3>
                    <p>Get a 24/7 customer support and feel free to make any quries anytime anywhere.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right">
                <div class="text-center">
                    <span class="flaticon-group display-4 d-block mb-3 text-primary"></span>
                    <h3 class="text-uppercase h4 mb-3">Trusted People</h3>
                    <p>We have all the agents highly verified and trustful. Staff is co-operative and supporting.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right">
                <div class="text-center">
                    <span class="flaticon-medal display-4 d-block mb-3 text-primary"></span>
                    <h3 class="text-uppercase h4 mb-3">12 Years Experience</h3>
                    <p>A brand in the feild for more than a decade with excellet performance.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="text-center">
                    <span class="flaticon-agreement display-4 d-block mb-3 text-primary"></span>
                    <h3 class="text-uppercase h4 mb-3">Join With Us</h3>
                    <p>Join the family of <strong>Let's Care!!!!'</strong> and be safe you and make your's safe...'</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="mb-5"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></p>
            </div>
            <div class="col-lg-5 ml-auto">
                <h2 class="site-section-heading mb-3 font-secondary text-uppercase">Thousands of Houses Damage Each Year</h2>
                <p> Insure your house and property in order to be tension free from Natural as well as man made disasters. Be comfortable and relaxed and live life with peace. Our moto is relieve you from all the tensiom regarding your assets and people... </p>
                
            </div>
        </div>
    </div>
</div>

<div class="site-section" style="background-image: url('images/topography.png'); background-attachment: fixed">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="site-section-heading text-center text-uppercase">Our Founders</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle w-25 mb-4">
                <h2 class="h5 ">Alex Peters</h2>
                <span class="d-block mb-4">CEO, Co-Founder</span>
                <p class="font-weig mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle w-25 mb-4">
                <h2 class="h5">Shane Cripton</h2>
                <span class="d-block mb-4">President, Co-Founder</span>
                <p class="font-weig mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
            </div>
        </div>
    </div>
</div>



<div class="site-section block-14 bg-light nav-direction-white">

    <div class="container">

        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="site-section-heading text-center text-uppercase">Testimonies</h2>
            </div>
        </div>

        <div class="nonloop-block-14 owl-carousel">

            <div class="p-5">
                <div class="d-block block-testimony w-75 mx-auto text-center">
                    <div class="person w-25 mx-auto mb-4">
                        <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle">
                    </div>
                    <div>
                        <h2 class="h5 mb-4">Katie Johnson</h2>
                        <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
                    </div>
                </div>
            </div>
            <div class="p-5">
                <div class="d-block block-testimony w-75 mx-auto text-center">
                    <div class="person w-25 mx-auto mb-4">
                        <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle">
                    </div>
                    <div>
                        <h2 class="h5 mb-4">Jun Mars</h2>
                        <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
                    </div>
                </div>
            </div>
            <div class="p-5">
                <div class="d-block block-testimony w-75 mx-auto text-center">
                    <div class="person w-25 mx-auto mb-4">
                        <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle">
                    </div>
                    <div>
                        <h2 class="h5 mb-4">Shane Holmes</h2>
                        <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
                    </div>
                </div>
            </div>
            <div class="p-5">
                <div class="d-block block-testimony w-75 mx-auto text-center">
                    <div class="person w-25 mx-auto mb-4">
                        <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle">
                    </div>
                    <div>
                        <h2 class="h5 mb-4">Mark Johnson</h2>
                        <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="py-5 bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <h2 class="text-uppercase text-white mb-0">Small Business Insurance Company</h2>
            </div>
            <div class="col-md-3 ml-auto text-center text-md-left">
                <a asp-action="Create"  asp-area="Manage" asp-controller="Contacts"      class="btn btn-bg-primary d-inline-block d-md-block font-secondary text-uppercase">Contact Us</a>
            </div>
        </div>
    </div>
</div>